CMS_REST_API_URL="http://localhost:3000/"
BYPASS_IMAGINARY_PROXY="true"
IRYS_2ND_ANNIV_PROJECT_SLUG="timelinerys" #Timeline project slug
ANNIVERSARYS_2023_PROJECT_SLUG="anniversarys-2023" #Postcard project slug
PAYLOAD_BYPASS_RATE_LIMIT_KEY= # Secret to bypass CMS rate limits
IMAGINARY_URL=
IMAGINARY_SECRET=